@import "transition-style";

#main {
  flex-grow: 2;
}
table a {
  color: #000000;
}
table a:hover {
  color: #e01637;
}
.form-select option {
  font-family: Figtree, sans-serif;
}
.form-control:focus,
.form-select:focus {
  border-color: #e01637;
  border-width: 2px;
  box-shadow: none;
}
