@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

html,
body,
#root,
#App {
  height: 100vw;
  font-family: Figtree;
}
#App {
  background-color: #f5f6f7;
}
